<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <title>Labels Webservice</title>
  <link rel="shortcut icon" type="image/x-icon" href="https://www.hbz-nrw.de/favicon.ico">
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/datatables.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/datatables.min.js}"></script>
</head>

<body>
 <div th:replace="fragments/header :: header"></div>
  <div class="container mb-5">
  	<main role="main">
      <h1 class="mt-5">[[${mainTitle}]]</h1>
      <p class="lead">Here you can find a list with all available labels.</p>
    </main>
    <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message"
      role="alert">
      [[${message}]]
      <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <table id="example" class="table table-bordered">
	    <thead class="thead-light">
	      <tr>
	        <th><span>Id</span></th>
	        <th><span>Group</span></th>
	        <th><span>Label</span></th>
	        <th><span>Json Conf</span></th>
	        <th><span>Comment</span></th>
	        <th><span>Actions</span></th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr th:each="label : ${labels}">
	        <th scope="row">[[${label.id}]]</th>
	        <td>[[${label.group}]]</td>  
	        <td>[[${label.labelStr}]]</td>  
	        <td>
				<table class="table table-borderless mb-0">
				    <tbody >  
				        <tr><th scope="row" class="p-0 col-4">Name</th><td class="p-0">[[${label.jsonConf.name}]]</td></tr>
				        <tr><th scope="row" class="p-0 col-4">Uri</th><td class="p-0">[[${label.jsonConf.uri}]]</td></tr>
				        <tr><th scope="row" class="p-0 col-4">Type</th><td class="p-0">[[${label.jsonConf.type}]]</td></tr>
				        <tr><th scope="row" class="p-0 col-4">Container</th><td class="p-0">[[${label.jsonConf.container}]]</td></tr>
				    </tbody>
				</table>
			</td>
	        
	        <td>[[${label.comment}]]</td>
	        <td class="text-center align-middle">
	          <a th:href="@{'/label/' + ${label.id}}" title="Edit this label"
	            class="bi bi-pencil-square" style="padding-right: 5px; font-size: 2rem;"></a>
	           
	          <a th:href="@{'/delete/label/' + ${label.id}}" th:labelId="${label.id}" th:labelTitle="${label.labelStr}" id="btnDelete"
	            title="Delete this label" class="bi bi-trash btn-delete" data-bs-toggle="modal" data-bs-target="#confirmModal" style="font-size: 2rem;"></a>
	        </td>
	      </tr>
	    </tbody>
  	</table>
  </div>

  <div class="modal fade text-center" id="confirmModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Confirmation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <span id="confirmText"></span>
        </div>

        <div class="modal-footer">
          <a type="button" id="yesBtn" class="btn btn-danger">Yes</a>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>

  <!-- div th:replace="fragments/footer :: footer"></div-->

 <script type="text/javascript">
    $(document).ready(function () {
    	
    	var table = $('#example').DataTable();
    	new DataTable.Buttons(table, {
    		buttons: [
                'copy',
                'print',
                {
                    extend: 'spacer',
                    style: 'bar',
                    text: 'Export labels:'
                },
                'csv',
                'excel',
                'pdf',
                {
                    text: 'JSON',
                    action: function (e, dt, button, config) {
                        var data = dt.buttons.exportData();
 
                        DataTable.fileSave(new Blob([JSON.stringify(data)]), 'labels.json');
                    }
                }
            ]
    	});
    	 
    	table
    	    .buttons(0, null)
    	    .container()
    	    .prependTo(table.table().container());
    	
    	
    	
      $(".btn-delete").on("click", function (e) {
        e.preventDefault();
        link = $(this);

        labelTitle = link.attr("labelTitle");
        labelId = link.attr("labelId");
        $("#yesBtn").attr("href", link.attr("href"));
        $("#confirmText").html("Do you want to delete the Label \<strong\>" + labelTitle + "\<\/strong\> with id: \<strong\>" + labelId + "\<\/strong\>?");
        $("#confirmModal").modal();
      });
      
      setTimeout(function() {
          bootstrap.Alert.getOrCreateInstance(document.querySelector(".alert")).close();
      }, 5000)

      /*$("#btnClear").on("click", function (e) {
        e.preventDefault();
        $("#keyword").text("");
        window.location = "[[@{/}]]";
      });*/
    });

    function changePageSize() {
      $("#searchForm").submit();
    }
  </script>
</body>

</html>